---
pagination:
  data: pages
  size: 1
  alias: pageData
permalink: "{% if pageData.slug == 'home' %}index.html{% else %}{{ pageData.slug }}.html{% endif %}"
layout: layout.njk
eleventyComputed:
  title: "{{ pageData.title }}"
  metaDescription: "{{ pageData.metaDescription }}"
  navCurrent: "{{ pageData.slug }}"
eleventyExcludeFromCollections: true
---
{% include "sections/render-zone.njk" %}
