{% for section in pageData.sections %}
  {% if section.__component == "element.hero" %}
    {% include "sections/hero.njk" %}
  {% elif section.__component == "section.two-column" %}
    {% include "sections/two-column.njk" %}
  {% elif section.__component == "section.card-grid" %}
    {% include "sections/card-grid.njk" %}
  {% elif section.__component == "section.post-spotlight" %}
    {% include "sections/post-spotlight.njk" %}
  {% elif section.__component == "section.post-carousel" %}
    {% include "sections/post-carousel.njk" %}
  {% elif section.__component == "section.post-timeline" %}
    {% include "sections/post-timeline.njk" %}
  {% endif %}
{% endfor %}
