<section class="section{% if section.alt %} alt-bg{% endif %}"{% if section.anchor %} id="{{ section.anchor }}"{% endif %}>
  <div class="container two-column">
    <div>
      {% for col in section.columnLeft %}{% include "sections/column-item.njk" %}{% endfor %}
    </div>
    <div>
      {% for col in section.columnRight %}{% include "sections/column-item.njk" %}{% endfor %}
    </div>
  </div>
</section>
